body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffffff, #dddddd); /* Degrade de branco */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #333; /* Cor do texto mais escura para contraste */
}


main {
  background-color: #f6f6f6; /* Fundo cinza claro */
  width: 500px;
  text-align: center;
  padding: 20px;
  border: solid 2px #0056b3; /* Azul mais escuro */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra adicionada */
}

h1 {
  color: #0056b3; /* Azul mais escuro */
  font-size: 36px;
  margin: 30px 0;
}

input[type="number"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #0056b3; /* Azul mais escuro */
  border-radius: 5px;
  margin: 5px 0;
}

button {
  background-color: #0056b3; /* Azul mais escuro */
  color: #ffffff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #003f7f; /* Azul ainda mais escuro no hover */
}

p {
  font-size: 24px;
  color: #0056b3; /* Azul mais escuro */
  margin: 20px 0;
}

span {
  font-weight: bold;
}
footer{

    color: #000000;
    padding: 10px;
    text-align: center;
    position: absolute; /* Adicione esta linha */
    width: 100%; /* Ocupa a largura total */
    bottom: 0; /* Fica na parte inferior */
}
